body {
  max-width: 1286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

header {
  background-color: #003097;
  color: #ffffff;
}

header .logo {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}

header article {
  padding: 0 5rem 5rem 5rem;
  margin-top: 2rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header article .header-right img {
  margin-left: 2rem;
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}

header article .header-left {
  padding-right: 3rem;
}

header article .header-left h1 {
  font-family: Graphik;
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0.4px;
  margin-top: 0;
  padding-top: 1rem;
}

header article .header-left p {
  font-family: Graphik;
  font-style: normal;
  font-weight: 100;
  font-size: 21px;
  line-height: 34px;
  letter-spacing: -0.3px;
  margin-bottom: 2rem;
}

header article .header-left button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 180px;
  border-radius: 4px;
  font-family: Graphik;
  font-style: normal;
  font-weight: 0;
  font-size: 14px;
}

header article .header-left .get-started {
  background-color: #DC3367;
  color: white;
}

header article .header-left .request-demo {
  background-color: white;
  color: #003097;
  margin-left: 1rem;
}

header article .header-logos {
  margin-top: 2.5rem;
}

header article .header-logos .header-logo-list {
  margin: 0;
  margin-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header article .header-logos .header-logo-list figure {
  margin: 0;
}

header article .header-logos .header-logo-list figure img {
  width: 92.5%;
}

header article .header-logos small {
  font-family: Graphik;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 15px;
}

.flex-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

ol {
  color: black;
  list-style: none;
  counter-reset: item;
}

ol li {
  counter-increment: item;
}

ol li:before {
  color: #003097;
  margin-right: 10px;
  content: counters(item, ".") ". ";
  display: inline-block;
}

.section-2 {
  background-color: #EFF2F7;
}

.section-2 h1 {
  color: #003097;
}

.section-3 {
  background-color: #D39101;
  color: white;
}

.section-4 {
  background-color: #EFF2F7;
}

.section-4 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 10rem);
  gap: 1.2rem;
}

.section-4 .grid-container figure {
  margin: 0;
  background-color: white;
  width: 10rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgrey;
}

.section-4 .grid-container figure .smaller {
  width: 65%;
  height: auto;
}

.section-4 .grid-container .grid-box {
  background-color: #003097;
  color: white;
  grid-row: span 2;
  grid-column: span 2;
  width: 21.2rem;
  height: 10.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5 {
  background-color: #058C78;
}

.section-5 img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: #EFF2F7;
}
/*# sourceMappingURL=styles.css.map */